@import "src/assets/css/custom-material.css";

.ceremonies-section {
  position: relative;
  height: 100vh;
  overflow: auto;
  padding: 75px 28px 110px;
}

.ceremonies-section .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 30px;
  font-weight: bold;
}

.ceremonies-section .header .title {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.page-title {
  color: var(--second-color);
  font-size: 15px;
  font-weight: bold;
  margin-block-end: 30px;
}

.form-section {
  padding-block-start: 42px;
}

.manage-steps-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 90px;
  background-color: var(--light-lavender);
  padding: 23px 38px;
  border-radius: 15px 15px 0 0;
}

.manage-steps-footer.shadow {
  box-shadow: 0px -1px 3px 0px rgba(0, 28, 112, 0.05),
  0px -6px 6px 0px rgba(0, 28, 112, 0.04),
  0px -13px 8px 0px rgba(0, 28, 112, 0.03),
  0px -22px 9px 0px rgba(0, 28, 112, 0.01),
  0px -35px 10px 0px rgba(0, 28, 112, 0);





}

.manage-steps-footer .btn {
  width: 140px;
  height: 45px;
  border-radius: 10px;
}

.manage-steps-footer .next-btn {
  background: var(--second-color);
  color: var(--white-color);
  margin-inline-start: auto;
}

.next-btn {
  background: var(--second-color);
  color: var(--white-color) !important;
  margin-inline-start: 20px;
}

.manage-steps-footer .previous-btn {
  background: var(--light-periwinkle);
  color: var(--second-color);
  margin-inline-end: auto;
}

.manage-steps-footer .preview-btn {
  background: #5A73C4;
  color: var(--white-color);
  margin-inline-start: auto;
}

.field-label {
  font-size: 17px;
  color: var(--deep-ocean-blue);
  margin-bottom: 14px;
}

.full-width {
  width: 100%;
}

.feature-section {
  padding-inline: 24px;
  margin-block-end: 21px;
}

.feature-section .feature-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7px 11px;
}

.feature-section .feature-list .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  cursor: pointer;
}

.feature-section .feature-list .feature-item .feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  max-width: 65px;
  background-color: #F3F3FF;
  border-radius: 10px;
  transition: .3s ease-in;
}

.feature-section .feature-list .feature-item.selected .feature-icon {
  background-color: var(--second-color);
}

.feature-section .feature-list .feature-item .feature-icon span {
  color: var(--primary-color);
  font-size: 1.8rem;
  transition: .3s ease-in;
}

.feature-section .feature-list .feature-item.selected .feature-icon span {
  color: #fff;
}

.feature-section .feature-list .feature-item .feature-title {
  font-size: 12px;
  color: var(--primary-color);
}

.center-align-label .mat-form-field-label {
  display: block;
  width: 100%;
  text-align: center;
}

::ng-deep .timepicker {
  direction: ltr;
}

.timepicker-input {
  width: 100%;
  height: 56px;
  background-color: #eaf5ff;
  border: none;
  border-radius: 10px;
  padding-inline: 16px;
  font-size: 16px;
  outline: none;
}

.timepicker-input:focus-visible {
  outline: none;
}

.timepicker-input::placeholder {
  text-align: center;
  color: var(--light-periwinkle);
  font-size: 17px;
}

.timepicker-input.error-field::placeholder,
.timepicker-input.error-field {
  color: #f44336 !important;
}

.timepicker-input.error-field {
  border: 2px solid #f44336;
}

::ng-deep .ngx-material-timepicker-toggle {
  position: absolute;
  top: 14px;
  left: 10px;
}

.position-relative {
  position: relative;
}

.registration-form {
  border: 2px solid var(--light-periwinkle);
  border-radius: 10px;
  overflow: hidden;
}

.registration-form .registration-row {
  padding: 17px 25px 13px;
}


.registration-form .registration-row .title {
  font-size: 17px;
  font-weight: bold;
  color: #264190;
}

.registration-form .registration-row .mat-icon {
  color: #264190;
}

.registration-form .registration-row .header,
.registration-form .registration-row .header span {
  font-size: 15px;
  color: var(--primary-color);
  margin: 0;
}

.registration-form .registration-row .sub-header {
  font-size: 12px;
  color: var(--primary-color);
}

.registration-form .registration-row .icon {
  color: #748DE0;
}

.registration-form .registration-row:first-child {
  background-color: #E3E7FF;
}

.attach-icon {
  position: absolute;
  left: 20px;
  bottom: 18px;
  font-size: 30px;
  color: var(--light-periwinkle);
}

.sticky {
  align-items: end !important;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0 28px 20px;
  height: 131px;
  z-index: 999;
  backdrop-filter: blur(15px);
}

.ceremonies-section.registration {
  padding: 140px 28px 110px !important;
}

@media only screen and (max-width: 320px) {
  .manage-steps-footer {
    padding: 23px 14px;
  }

  ::ng-deep .mat-step-header .mat-step-icon {
    width: 55px;
  }
}

