<!-- Section -->
<div class="ceremonies-section" [class.registration]="currentStep > totalSteps">

  <div class="header" [class.sticky]="currentStep > totalSteps">
    <span class="title">تشریفات</span>
    <mat-icon class="back-arrow">keyboard_backspace</mat-icon>
  </div>

  <p class="page-title">{{ isFinalRegistration ? 'فرم درخواست شما' : 'ایجاد درخواست جدید' }}</p>

  <div class="stepper" [class.d-none]="isFinalRegistration">
    <mat-stepper #stepper [linear]="true">

      <mat-step [stepControl]="firstFormGroup" [completed]="firstFormGroup.valid">
        <form class="form-section" [formGroup]="firstFormGroup">
          <ng-template class="step-index" matStepperIcon="edit" let-index="index">
            {{ index + 1 }}
          </ng-template>
          <p class="field-label">تاریخ</p>
          <mat-form-field appearance="fill" class="full-width center-align-label"
                          [ngClass]="{'error-field': isInvalid(firstFormGroup, 'date')}">
            <mat-label>روز / ماه / سال</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <p class="field-label">زمان</p>
          <div class="full-width center-align-label position-relative" style="margin-bottom: 22px">
            <input [ngxTimepicker]="toggleTimepicker" class="timepicker-input" readonly formControlName="time"
                   placeholder="دقیقه : ساعت" [format]="24"
                   [ngClass]="{'error-field': isInvalid(firstFormGroup, 'time')}">
            <ngx-material-timepicker-toggle [for]="toggleTimepicker">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 30 30" width="25px"
                   height="25px" ngxMaterialTimepickerToggleIcon fill="rgb(143 168 253)">
                <g>
                  <rect fill="none" height="24" width="24"/>
                </g>
                <g>
                  <g>
                    <g>
                      <path
                        d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M16.2,16.2L11,13V7h1.5v5.2l4.5,2.7L16.2,16.2z"/>
                    </g>
                  </g>
                </g>
              </svg>
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker [cancelBtnTmpl]="cancelBtn"
                                     [confirmBtnTmpl]="confirmBtn" [theme]="customTheme"></ngx-material-timepicker>

            <ng-template #cancelBtn>
              <button class="btn previous-btn" mat-button>انصراف</button>
            </ng-template>
            <ng-template #confirmBtn>
              <button class="btn next-btn" mat-button>تایید</button>
            </ng-template>
          </div>


          <p class="field-label">مکان</p>
          <mat-form-field appearance="fill" class="full-width"
                          [ngClass]="{'error-field': isInvalid(firstFormGroup, 'location')}">
            <mat-label>لطفا انتخاب کنید</mat-label>
            <mat-select formControlName="location" (selectionChange)="onLocationChange($event)">
              <mat-option *ngFor="let location of locations" [value]="location.id">
                {{ location.title }}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>chevron_left</mat-icon>
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" [completed]="secondFormGroup.valid">
        <form class="form-section" [formGroup]="secondFormGroup">
          <ng-template class="step-index" matStepperIcon="edit" let-index="index">
            {{ index + 1 }}
          </ng-template>
          <p class="field-label">سطح سازمانی میهمان</p>
          <mat-form-field appearance="fill" class="full-width center-align-label"
                          [ngClass]="{'error-field': isInvalid(secondFormGroup, 'level')}">
            <mat-label>لطفا انتخاب کنید</mat-label>
            <mat-select formControlName="level">
              <mat-option *ngFor="let level of levels" [value]="level.value">
                {{ level.viewValue }}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>chevron_left</mat-icon>
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup" [completed]="thirdFormGroup.valid">
        <form class="form-section" [formGroup]="thirdFormGroup">
          <ng-template class="step-index" matStepperIcon="edit" let-index="index">
            {{ index + 1 }}
          </ng-template>
          <p class="field-label">امکانات درخواستی</p>

          <div class="feature-section">
            <div class="feature-list">
              <div class="feature-item"
                   *ngFor="let feature of features"
                   [ngClass]="{'selected': selectedFeatures.includes(feature)}"
                   (click)="toggleFeature(feature)">
                <div class="feature-icon">
                  <span class="material-symbols-outlined">{{ feature.icon }}</span>
                </div>
                <span class="feature-title">{{ feature.title }}</span>
              </div>
            </div>
          </div>

          <p class="field-label">توضیحات</p>
          <mat-form-field appearance="fill" class="full-width"
                          [ngClass]="{'error-field': isInvalid(thirdFormGroup, 'description')}">
            <mat-label>لطفا توضیح دهید...</mat-label>
            <input matInput formControlName="description">
            <mat-icon (click)="fileInput.click()" *ngIf="!fileUploaded" matSuffix>attach_file_add</mat-icon>
            <mat-icon (click)="fileUploaded = undefined" *ngIf="fileUploaded" matSuffix>delete_outline</mat-icon>
            <input type="file" name="file" id="fileInput" class="d-none" (change)="onFileChange($event)" #fileInput>
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup" [completed]="fourthFormGroup.valid">
        <form class="form-section" [formGroup]="fourthFormGroup">
          <ng-template class="step-index" matStepperIcon="edit" let-index="index">
            {{ index + 1 }}
          </ng-template>

          <div formGroupName="guestNames">
            <p class="field-label">نام میهمان</p>
            <div *ngFor="let guestControl of getGuestControls(); let i = index">
              <mat-form-field appearance="fill" class="full-width" [ngClass]="{'error-field': isInvalid(fourthFormGroup, 'guestNames.guestName' + i)}">
                <mat-label>لطفا نام میهمان را وارد کنید</mat-label>
                <input matInput [formControlName]="'guestName' + i" placeholder="نام میهمان">
              </mat-form-field>
            </div>
          </div>

          <p class="field-label">نام میزبان</p>
          <mat-form-field appearance="fill" class="full-width"
                          [ngClass]="{'error-field': isInvalid(fourthFormGroup, 'hostName')}">
            <mat-label>لطفا نام میزبان را وارد کنید</mat-label>
            <input matInput formControlName="hostName">
          </mat-form-field>

          <p class="field-label">تعداد میهمان</p>
          <mat-form-field appearance="fill" class="full-width"
                          [ngClass]="{'error-field': isInvalid(fourthFormGroup, 'guestCount')}">
            <mat-label>لطفا تعداد میهمانان را وارد کنید</mat-label>
            <input matInput type="number" inputmode="numeric" formControlName="guestCount">
          </mat-form-field>
        </form>
      </mat-step>

    </mat-stepper>
  </div>


  <div class="registration-section" [class.d-none]="!isFinalRegistration">

    <div class="registration-form">
      <div class="registration-row">
        <div class="d-flex align-item-center justify-space-between">
          <span class="title">فرم شماره MC-122</span>
          <span class="icon" (click)="previousStep()">
            <mat-icon>edit</mat-icon>
          </span>
        </div>
      </div>

      <div class="registration-row">
        <div class="d-flex gap-4">
          <span class="icon material-symbols-outlined">calendar_clock</span>

          <div class="header">
            <span style="margin-inline-end: 15px">{{ date}}</span>
            <span>ساعت {{ firstFormGroup.controls['time'].value }}</span>
          </div>
        </div>
      </div>

      <div class="registration-row bg-very-light-periwinkle">
        <div class="d-flex gap-4">
          <span class="icon material-symbols-outlined">location_on</span>

          <div class="d-flex flex-column row-gap-2">
            <p class="header">{{ location?.title }}</p>
            <span class="sub-header">{{ location?.address }}</span>
          </div>
        </div>
      </div>

      <div class="registration-row separator position-relative">
        <div class="d-flex gap-4">
          <span class="icon material-symbols-outlined">3p</span>

          <div class="d-flex flex-column row-gap-2" style="margin-bottom: 15px">
            <p class="header">{{ fourthFormGroup.controls['guestCount'].value }} نفر میهمان</p>

            <div class="d-flex flex-column row-gap-2">
              <div *ngFor="let guestControlName of getGuestControls()" class="d-flex align-item-center gap-4">
                <span class="sub-header">{{ fourthFormGroup.get('guestNames')?.get(guestControlName)?.value }}</span>
                <span class="sub-header">{{ secondFormGroup.controls['level'].value }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="registration-row">
        <div class="d-flex gap-4">
          <span class="icon material-symbols-outlined">gite</span>

          <div class="d-flex flex-column row-gap-2">
            <p class="header">میزبان</p>

            <div class="d-flex flex-column row-gap-2">
              <div class="d-flex align-item-center gap-4">
                <span class="sub-header">{{ fourthFormGroup.controls['hostName'].value }}</span>
                <span class="sub-header">مدیر</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="registration-row bg-very-light-periwinkle position-relative">
        <div class="d-flex gap-4">
          <span class="icon material-symbols-outlined">cake</span>

          <div class="d-flex flex-column row-gap-2">
            <p class="header">{{ selectedFeaturesList.length > 0 ? selectedFeaturesList.join(' - ') : 'فاقد امکانات درخواستی' }}</p>
            <span class="sub-header">{{fileUploaded ? 'شامل فایل پیوست شده' : 'فاقد فایل پیوست'}}</span>
          </div>

          <span class="attach-icon material-symbols-outlined">attach_file</span>

        </div>
      </div>

    </div>

  </div>

</div>
<!-- End Section -->


<!-- Manage Stepper Footer -->
<div class="manage-steps-footer" [class.shadow]="currentStep > totalSteps">
  <button *ngIf="currentStep > 1" class="btn previous-btn" mat-button (click)="previousStep()">مرحله قبل</button>
  <button *ngIf="totalSteps > currentStep" class="btn next-btn" mat-button (click)="nextStep()">مرحله بعد</button>
  <button *ngIf="totalSteps == currentStep" class="btn preview-btn" mat-button (click)="nextStep()">پیش نمایش</button>
  <button *ngIf="currentStep > totalSteps" class="btn preview-btn" mat-button>ثبت نهایی</button>
</div>
<!-- End Manage Stepper Footer -->
