:root {
  --primary-color: #405AA9;
  --second-color: #00164D;
  --light-blue-color: #B2E0FF;
  --ocean-blue: #007FB0;
  --deep-ocean-blue: #00658C;
  --light-lavender: #EBEDFF;
  --light-sky-blue: #EAF5FF;
  --black-color: #000;
  --white-color: #fff;
  --light-periwinkle: #B5C4FF;
  --very-light-periwinkle: #F3F3FD;
  --very-light-blue: #E4F3FF;
  --sky-blue: #50B5EB;
}

@font-face {
  font-family: 'iransans';
  src: url("../fonts/iransans.woff2") format('woff2');
  font-weight: normal;
}

* {
  font-family: 'iransans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none;
}

.bg-very-light-periwinkle {
  background-color: var(--very-light-periwinkle);
}

.gap-4 {
  gap: 1rem;
}

.row-gap-2 {
  row-gap: .5rem;
}

.main {
  max-width: 425px;
  display: block;
  height: 100vh;
  overflow: auto;
  margin: auto;
  background: var(--white-color);
}

.black-color {
  color: var(--black-color) !important;
}

.separator::after {
  content: '';
  display: block;
  width: 80%;
  height: 0.5px;
  background-color: var(--light-periwinkle);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-13%);
}
